.results-content {
    width: 82%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .card {
        width: 223px;
        height: 264px;
        border-radius: 8px;
        background: rgba(49, 49, 49, 0.9);
        margin:24px 24px 0;
        cursor: pointer;
        img {
            width: 223px;
            height: 180px;
            border-radius: 8px 8px 0 0;
        }
        .content {
            width: 223px;
            background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(27, 27, 27,1));
            height: 91px;
            border-radius: 0 0 8px 8px;
            padding: 5% 5%;
            h3,
            span {
                color: #fff;
            }
        }
        &:hover {
            border: 1px solid #CBD736;
            img {
                width: 220px;
            }
            .content{
                width: 220px;
                height: 76px;
            }
        }
    }
    @media (max-width: 767px) {
        justify-content: center;
    }
}